:root {
  /*-----layout布局------*/
  /*顶部导航栏的高度*/
  --header-hight: 55px;
  /*主视图宽度*/
  --main-width: 1300px;
  /*底部TabBar高度*/
  --footer-hight: 60px;

  /*------颜色------*/
  --primary-color: #2080f0;
  --border-color-1:rgb(224, 224, 230);
  --shadow-color-1:#eee;
  --bg-color-1:#fff;
  --bg-mask:#0909094b;
  --text-color-2:#86909c;
  /*----时间-----*/
  --time-normal:.3s;
}

*{
  user-select: none;
}

/*文字悬浮高亮*/
.text{
  transition: var(--time-normal);
  cursor: pointer;
}
.text:hover{
  color:var(--primary-color) !important;
}

/*没有更多了的提示*/
.no-more{
  font-size: 12px;
  color:var(--text-color-2)
}

.mb-5{
  margin-bottom: 5px;
}
.mt-5{
  margin-top: 5px;
}
.mr-5{
  margin-right: 5px;
}
.ml-5{
  margin-left: 5;
}

.mb-10{
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}
.mr-10{
  margin-right: 10px;
}
.ml-10{
  margin-left: 10px;
}